<div id="<%= dom_id page_history %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Content:</strong>
    <%= page_history.content %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">web page:</strong>
    <%= page_history.page_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Prompt:</strong>
    <%= page_history.prompt %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User message:</strong>
    <%= page_history.user_message %>
  </p>

</div>
