<%= form_with(model: snippet, class: "contents") do |form| %>
  <% if snippet.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(snippet.errors.count, "error") %> prohibited this Snippet from being saved:</h2>

      <ul>
        <% snippet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :site_id, value: @site.id %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :content, "HTML Content" %>
    <%= form.text_area :content, rows: 20, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full", style: "width: 100%; max-width: 800px;" %>
  </div>

  <div class="inline">
    <%= form.submit "Save Snippet", class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>

<%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/codemirror.min.js" %>
<%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/mode/htmlmixed/htmlmixed.min.js" %>
<%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/codemirror.min.css" %>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var editor = CodeMirror.fromTextArea(document.getElementById('snippet_content'), {
      mode: 'htmlmixed',
      lineNumbers: true,
      theme: 'default',
      viewportMargin: Infinity,
      lineWrapping: true
    });
    editor.setSize("100%", "auto");
    
    // Refresh the editor after a short delay to ensure proper sizing
    setTimeout(function() {
      editor.refresh();
    }, 100);
  });
</script>
