<div id="<%= dom_id user % data-llama="app/views/users/_user.html.erb">">
  <p class="my-5" data-llama="app/views/users/_user.html.erb">
    <strong class="block font-medium mb-1" data-llama="app/views/users/_user.html.erb">Email:</strong>
    <%= user.email %>
  </p>

  <p class="my-5" data-llama="app/views/users/_user.html.erb">
    <strong class="block font-medium mb-1" data-llama="app/views/users/_user.html.erb">Phone:</strong>
    <%= user.phone %>
  </p>

  <p class="my-5" data-llama="app/views/users/_user.html.erb">
    <strong class="block font-medium mb-1" data-llama="app/views/users/_user.html.erb">First name:</strong>
    <%= user.first_name %>
  </p>

  <p class="my-5" data-llama="app/views/users/_user.html.erb">
    <strong class="block font-medium mb-1" data-llama="app/views/users/_user.html.erb">Last name:</strong>
    <%= user.last_name %>
  </p>

  <p class="my-5" data-llama="app/views/users/_user.html.erb">
    <strong class="block font-medium mb-1" data-llama="app/views/users/_user.html.erb">Organization:</strong>
    <%= user.organization_id %>
  </p>

</div>
