<div id="<%= dom_id static_web_page %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Static web site:</strong>
    <%= static_web_page.static_web_site_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Content:</strong>
    <%= static_web_page.content %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Slug:</strong>
    <%= static_web_page.slug %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Prompt:</strong>
    <%= static_web_page.prompt %>
  </p>

</div>
