<div id="<%= dom_id chat_message %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Content:</strong>
    <%= chat_message.content %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Sender:</strong>
    <%= chat_message.sender %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= chat_message.user_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Chat conversation:</strong>
    <%= chat_message.chat_conversation_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Site:</strong>
    <%= chat_message.site_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Uuid:</strong>
    <%= chat_message.uuid %>
  </p>

</div>
