  <script src="https://cdn.tailwindcss.com"></script>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <style>
  @keyframes subtlePop {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.05);
      opacity: 0.8;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  .copy-animation {
    animation: subtlePop 0.3s ease-in-out;
  }

  .copy-button {
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .copy-button:active {
    transform: scale(0.95);
  }
  </style>

<div class="fixed bottom-4 right-4 z-50" data-llama="app/views/shared/_chat.html.erb exclude_when_saving_contenteditable_edits">
  <!-- Chat icon -->
  <div id="chatIcon" class="w-12 h-12 md:w-16 md:h-16 bg-blue-500 rounded-full flex items-center justify-center cursor-pointer" data-llama="app/views/shared/_chat.html.erb">
    <img src="https://service-jobs-images.s3.us-east-2.amazonaws.com/7rl98t1weu387r43il97h6ipk1l7" alt="LlamaPress Logo" class="h-8 w-8 md:h-12 md:w-12 llama-prevent-img-resize" data-llama="app/views/shared/_chat.html.erb"/>
  </div>

  <!-- Chat bubble -->
  <div class="absolute bottom-16 md:bottom-20 right-0 bg-gray-800 rounded-lg p-2 md:p-3 shadow-lg" data-llama="app/views/shared/_chat.html.erb">
    <div role="status" class="hidden is-thinking">
      <svg aria-hidden="true" class="inline w-4 h-4 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/><path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/></svg> <span class="sr-only">Loading...</span>
    </div>
    <p class="text-white text-xs md:text-sm whitespace-nowrap" data-llama="app/views/shared/_chat.html.erb">
      What do you want to change?
    </p>
    <!-- Bubble tail -->
    <div class="absolute bottom-0 right-4 md:right-6 transform translate-y-1/2 rotate-45 w-2 h-2 md:w-3 md:h-3 bg-gray-800" data-llama="app/views/shared/_chat.html.erb">
    </div>
  </div>

  <!-- Chatbot window -->
  <div id="chatbotContainer" class="hidden fixed border border-gray-300 rounded-lg overflow-hidden shadow-lg bg-white flex flex-col transition-all duration-300 ease-in-out text-gray-800" data-llama="app/views/shared/_chat.html.erb" style="overflow: auto; min-width: 300px; min-height: 200px; bottom: 85px; right: 15px; max-width: 97%; max-height: 85%; z-index: 999;">
    <div class="bg-gradient-to-r from-blue-600 to-blue-400 text-white p-2 md:p-4 flex justify-between items-center rounded-t-2xl shadow-md" data-llama="app/views/shared/_chat.html.erb">
      <div class="flex items-center space-x-3" data-llama="app/views/shared/_chat.html.erb">
        <a href="/pages" class="text-white hover:text-blue-200 transition-colors duration-200" data-llama="app/views/shared/_chat.html.erb" >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            data-llama="app/views/shared/_chat.html.erb"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
              data-llama="app/views/shared/_chat.html.erb"
            />
          </svg>
        </a>
        <span
          class="font-semibold text-lg md:text-xl"
          data-llama="app/views/shared/_chat.html.erb"
          >LLama Bot</span
        >
        <span>      
        <div role="status" class="hidden is-thinking">
          <svg aria-hidden="true" class="inline w-4 h-4 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/><path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/></svg> <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div
        class="flex items-center"
        data-llama="app/views/shared/_chat.html.erb">
        <button
          id="expandButton"
          class="mr-2 text-xl hover:text-blue-200 transition-colors duration-200"
          title="Expand/Collapse"
          data-llama="app/views/shared/_chat.html.erb"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            data-llama="app/views/shared/_chat.html.erb"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 8V4m0 0h4M4 4l5 5m11-1V4m0 0h-4m4 0l-5 5M4 16v4m0 0h4m-4 0l5-5m11 5l-5-5m5 5v-4m0 4h-4"
              data-llama="app/views/shared/_chat.html.erb"
            />
          </svg>
        </button>
        <button
          id="closeButton"
          class="text-2xl hover:text-blue-200 transition-colors duration-200"
          data-llama="app/views/shared/_chat.html.erb"
        >
          &times;
        </button>
      </div>
    </div>
    <div
      id="chatbotMessages"
      class="flex-grow overflow-y-auto p-4 text-black"
      data-llama="app/views/shared/_chat.html.erb">
      <!-- Messages and history will be here -->
    </div>

    <%= render partial: 'shared/llama_bot/chat/chat_toolbar' %>

    <div id="llama-user-input-container" class="p-2 md:p-4 border-t border-gray-300 flex flex-col" data-llama="app/views/shared/_chat.html.erb">
      <textarea
        id="userInput"
        placeholder="Type your message..."
        class="flex-grow mb-2 p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent resize-vertical text-black text-sm md:text-base"
        rows="2 md:rows-3"
        data-llama="app/views/shared/_chat.html.erb"
      ></textarea>
      <div class="flex items-center justify-end">
        <div id="loadingIndicator" class="hidden mr-2 is-thinking">
          <div class="grid grid-cols-[40px_auto] gap-4 items-center w-full">
            <div class="grid min-h-[20px] w-full place-items-center overflow-hidden rounded-lg p-6">
              <svg class="text-gray-300 animate-spin" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg" width="24" height="24">
                <path d="M32 3C35.8083 3 39.5794 3.75011 43.0978 5.20749C46.6163 6.66488 49.8132 8.80101 52.5061 11.4939C55.199 14.1868 57.3351 17.3837 58.7925 20.9022C60.2499 24.4206 61 28.1917 61 32C61 35.8083 60.2499 39.5794 58.7925 43.0978C57.3351 46.6163 55.199 49.8132 52.5061 52.5061C49.8132 55.199 46.6163 57.3351 43.0978 58.7925C39.5794 60.2499 35.8083 61 32 61C28.1917 61 24.4206 60.2499 20.9022 58.7925C17.3837 57.3351 14.1868 55.199 11.4939 52.5061C8.801 49.8132 6.66487 46.6163 5.20749 43.0978C3.7501 39.5794 3 35.8083 3 32C3 28.1917 3.75011 24.4206 5.2075 20.9022C6.66489 17.3837 8.80101 14.1868 11.4939 11.4939C14.1868 8.80099 17.3838 6.66487 20.9022 5.20749C24.4206 3.7501 28.1917 3 32 3L32 3Z" stroke="currentColor" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M32 3C36.5778 3 41.0906 4.08374 45.1692 6.16256C49.2477 8.24138 52.7762 11.2562 55.466 14.9605C58.1558 18.6647 59.9304 22.9531 60.6448 27.4748C61.3591 31.9965 60.9928 36.6232 59.5759 40.9762" stroke="currentColor" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" class="text-gray-900">
                </path>
              </svg>
            </div>
            <span class="thinking-pulse">Thinking... (this may take a while)</span>
          </div>
        </div>
        <button id="sendButton" class="bg-blue-500 text-white px-3 py-1 md:px-4 md:py-2 rounded-lg hover:bg-blue-600 transition-colors duration-200 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:ring-opacity-50 text-sm md:text-base" data-llama="app/views/shared/_chat.html.erb">
          Send
        </button>
      </div>
    </div>
    <!-- Resizers -->
    <div class="resizer top-left w-2 h-2 -top-1 -left-1 cursor-nwse-resize absolute z-10"></div>
    <div class="resizer top-right w-2 h-2 -top-1 -right-1 cursor-nesw-resize absolute z-10"></div>
    <div class="resizer bottom-left w-2 h-2 -bottom-1 -left-1 cursor-nesw-resize absolute z-10"></div>
    <div class="resizer bottom-right w-2 h-2 -bottom-1 -right-1 cursor-nwse-resize absolute z-10"></div>
    <div class="resizer top h-1 w-full -top-1 left-0 cursor-ns-resize absolute z-10"></div>
    <div class="resizer bottom h-1 w-full -bottom-1 left-0 cursor-ns-resize absolute z-10"></div>
    <div class="resizer left w-1 h-full top-0 -left-1 cursor-ew-resize absolute z-10"></div>
    <div class="resizer right w-1 h-full top-0 -right-1 cursor-ew-resize absolute z-10"></div>
  </div>

</div>
<%= render partial: 'shared/llama_bot/css' %>
<%= render partial: 'shared/llama_bot/history_modal' %>
<%= render partial: 'shared/llama_bot/side_panel' %>
<%= render partial: 'shared/llama_bot/chat_javascript' %>
<% if current_user.present? && controller_name == 'pages' && action_name == 'show' %> 
  <%= render partial: 'shared/llama_bot/javascript/contenteditable_javascript' %> 
  <%= render partial: 'shared/llama_bot/floating_toolbar' %> 
  <%= render partial: 'shared/llama_bot/context_menu' %> 
<% end %>
