  <script src="https://cdn.tailwindcss.com"></script>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <style>
  @keyframes subtlePop {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.05);
      opacity: 0.8;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  .copy-animation {
    animation: subtlePop 0.3s ease-in-out;
  }

  .copy-button {
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .copy-button:active {
    transform: scale(0.95);
  }
  </style>

<div
  class="fixed bottom-4 right-4 z-50"
  data-llama="app/views/shared/_chat.html.erb exclude_when_saving_contenteditable_edits"
>
  <!-- Chat icon -->
  <div
    id="chatIcon"
    class="w-12 h-12 md:w-16 md:h-16 bg-blue-500 rounded-full flex items-center justify-center cursor-pointer"
    data-llama="app/views/shared/_chat.html.erb"
  >
    <img
      src="https://service-jobs-images.s3.us-east-2.amazonaws.com/7rl98t1weu387r43il97h6ipk1l7"
      alt="LlamaPress Logo"
      class="h-8 w-8 md:h-12 md:w-12 llama-prevent-img-resize"
      data-llama="app/views/shared/_chat.html.erb"
    />
  </div>

  <!-- Chat bubble -->
  <div
    class="absolute bottom-16 md:bottom-20 right-0 bg-gray-800 rounded-lg p-2 md:p-3 shadow-lg"
    data-llama="app/views/shared/_chat.html.erb"
  >
    <p
      class="text-white text-xs md:text-sm whitespace-nowrap"
      data-llama="app/views/shared/_chat.html.erb"
    >
      What do you want to build?
    </p>
    <!-- Bubble tail -->
    <div
      class="absolute bottom-0 right-4 md:right-6 transform translate-y-1/2 rotate-45 w-2 h-2 md:w-3 md:h-3 bg-gray-800"
      data-llama="app/views/shared/_chat.html.erb"
    ></div>
  </div>

  <!-- Chatbot window -->
  <div
    id="chatbotContainer"
    class="hidden fixed border border-gray-300 rounded-lg overflow-hidden shadow-lg bg-white flex flex-col transition-all duration-300 ease-in-out"
    data-llama="app/views/shared/_chat.html.erb"
    style="overflow: auto; min-width: 300px; min-height: 200px; bottom: 85px; right: 15px; max-width: 97%; max-height: 85%; z-index: 999;"
  >
    <div
      class="bg-gradient-to-r from-blue-600 to-blue-400 text-white p-2 md:p-4 flex justify-between items-center rounded-t-2xl shadow-md"
      data-llama="app/views/shared/_chat.html.erb"
    >
      <div
        class="flex items-center space-x-3"
        data-llama="app/views/shared/_chat.html.erb"
      >
        <a
          href="/pages"
          class="text-white hover:text-blue-200 transition-colors duration-200"
          data-llama="app/views/shared/_chat.html.erb"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            data-llama="app/views/shared/_chat.html.erb"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
              data-llama="app/views/shared/_chat.html.erb"
            />
          </svg>
        </a>
        <span
          class="font-semibold text-lg md:text-xl"
          data-llama="app/views/shared/_chat.html.erb"
          >LLama Bot</span
        >
      </div>
      <div
        class="flex items-center"
        data-llama="app/views/shared/_chat.html.erb"
      >
        <button
          id="historyButton"
          class="mr-2 text-xl hover:text-blue-200 transition-colors duration-200"
          title="Chat History"
          data-llama="app/views/shared/_chat.html.erb"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"
            />
          </svg>
        </button>
        <button
          id="expandButton"
          class="mr-2 text-xl hover:text-blue-200 transition-colors duration-200"
          title="Expand/Collapse"
          data-llama="app/views/shared/_chat.html.erb"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            data-llama="app/views/shared/_chat.html.erb"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 8V4m0 0h4M4 4l5 5m11-1V4m0 0h-4m4 0l-5 5M4 16v4m0 0h4m-4 0l5-5m11 5l-5-5m5 5v-4m0 4h-4"
              data-llama="app/views/shared/_chat.html.erb"
            />
          </svg>
        </button>
        <button
          id="closeButton"
          class="text-2xl hover:text-blue-200 transition-colors duration-200"
          data-llama="app/views/shared/_chat.html.erb"
        >
          &times;
        </button>
      </div>
    </div>
    <div
      id="chatbotMessages"
      class="flex-grow overflow-y-auto p-4 text-black"
      data-llama="app/views/shared/_chat.html.erb"
    >
      <div
        id="historyDrawer"
        class="hidden bg-white border-l border-gray-300 absolute right-0 top-0 h-full w-64 shadow-lg transition-all duration-300 ease-in-out"
      >
        <div class="p-4">
          <div class="flex justify-between items-center mb-4">
            <h3 class="font-semibold text-lg">Chat History</h3>
            <button
              id="closeHistoryDrawer"
              class="text-gray-500 hover:text-gray-700 focus:outline-none"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M6 18L18 6M6 6l12 12"
                />
              </svg>
            </button>
          </div>
          <ul
            id="historyList"
            class="space-y-2 overflow-y-auto max-h-[calc(100vh-200px)]"
          >
            <!-- History items will be dynamically added here -->
          </ul>
        </div>
      </div>
    </div>


    <div id="imagesForUserToSelect" class="flex-grow overflow-y-auto p-6 border border-gray-200 rounded-xl shadow-lg bg-gradient-to-r from-green-200 via-blue-200 to-purple-200 mt-2">
      <p id="imageUploadingLabel" class="text-red-500 text-center hidden mb-4 text-lg font-semibold">
        Your images are being saved... please wait for them to finish uploading before submitting!
      </p>
      <p id="imagesDoneUploading" class="text-green-600 text-center hidden mb-4 text-lg font-semibold">
        Your images are saved! You can now submit. 👍
      </p>
      <div class="upload flex flex-col items-center space-y-4">
        <label for="image_holder" class="cursor-pointer flex items-center justify-center space-x-2 bg-gradient-to-r from-indigo-400 to-blue-500 hover:from-pink-500 hover:to-yellow-500 text-white font-extrabold py-3 px-6 rounded-full shadow-lg transform hover:scale-105 transition duration-300 ease-in-out">
          <span id="file_name_show" class="text-xl">Upload your images</span>
        </label>
        <input type="file" id="image_holder" class="hidden" name="images_bad_param[]" accept="image/*, application/pdf" multiple onchange="get_file_name(this)">
      </div>
    
      <div id="upload-preview" class="hidden grid grid-cols-3 gap-4 mt-6 p-4 bg-white rounded-lg shadow-inner border border-gray-200">
        <!-- Images will be displayed here -->
      </div>
    
      <button id="submitButton" name="submit" class="w-4/5 mx-auto bg-green-500 hidden hover:bg-green-600 text-white font-bold py-3 px-8 rounded-full shadow-lg mt-6 transform hover:scale-105 transition duration-300 ease-in-out" onclick="submitPreuploadedS3ImagesToServer()">
        Submit <i id="submitIcon" class="gg-arrow-long-right ml-2"></i>
      </button>
    
      <!-- this is where images load into -->
      <div id="image-container" class="flex justify-around">
      </div>
    </div>

    <div id="promptsContainer" class="py-4 bg-gray-50">
      <div class="text-sm font-medium text-gray-600 mb-3 ml-4">Prompt Ideas:</div>
      <div class="overflow-x-auto">
        <div id="promptsList" class="inline-flex space-x-3 px-4"> 
          <div data-llama-prompt="Improve this design 10x. Make it beautiful, modern, and use font awesome icons and aos animations." class="prompt-bubble bg-white text-gray-700 text-xs rounded-full px-4 py-2 cursor-pointer shadow-sm hover:shadow-md transition-shadow duration-300 border border-gray-200" onclick="insertPrompt(this.getAttribute('data-llama-prompt'))">
            💡 Improve design 10X
          </div>
          <div data-llama-prompt="Add a spooky Halloween animation to this page. Use CSS animations or JavaScript to create a festive effect." class="prompt-bubble bg-orange-100 text-orange-800 text-xs rounded-full px-4 py-2 cursor-pointer shadow-sm hover:shadow-md transition-shadow duration-300 border border-orange-200" onclick="insertPrompt(this.getAttribute('data-llama-prompt'))">
            🎃 Add Halloween animation
          </div>
          <div data-llama-prompt="Optimize this page for mobile devices with tailwind css. Ensure responsive design, improve load times, and enhance touch interactions." class="prompt-bubble bg-white text-gray-700 text-xs rounded-full px-4 py-2 cursor-pointer shadow-sm hover:shadow-md transition-shadow duration-300 border border-gray-200" onclick="insertPrompt(this.getAttribute('data-llama-prompt'))">
            Optimize for mobile
          </div>
        </div>
      </div>
    </div>
    
    <div
      class="flex flex-col"
      data-llama="app/views/shared/_chat.html.erb"
    >
      <div
        class="p-1 md:p-2 border-t border-gray-300 flex items-center justify-start bg-gray-100"
        data-llama="app/views/shared/_chat.html.erb"
      >
        <button
          onclick="toggleSelectionMode()"
          class="mr-2 p-2 hover:bg-gray-200 rounded-full transition-colors duration-200"
          title="Select element"
          data-llama="app/views/shared/_chat.html.erb"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5 text-gray-600"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            data-llama="app/views/shared/_chat.html.erb"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M15 15l-2 5L9 9l11 4-5 2zm0 0l5 5M7.188 2.239l.777 2.897M5.136 7.965l-2.898-.777M13.95 4.05l-2.122 2.122m-5.657 5.656l-2.12 2.122"
              data-llama="app/views/shared/_chat.html.erb"
            />
          </svg>
        </button>
        <button
          id="toggleImagesForUserToSelect"
          class="mr-2 p-2 hover:bg-gray-200 rounded-full transition-colors duration-200"
          title="Insert image"
          data-llama="app/views/shared/_chat.html.erb"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5 text-gray-600"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            data-llama="app/views/shared/_chat.html.erb"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z"
              data-llama="app/views/shared/_chat.html.erb"
            />
          </svg>
        </button>
        <button
          id="toggleCodeSnippets"
          class="p-2 hover:bg-gray-200 rounded-full transition-colors duration-200"
          title="Show code snippets"
          data-llama="app/views/shared/_chat.html.erb"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5 text-gray-600"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            data-llama="app/views/shared/_chat.html.erb"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4"
              data-llama="app/views/shared/_chat.html.erb"
            />
          </svg>
        </button>
        <button
          id="togglePrompts"
          class="mr-2 p-2 hover:bg-gray-200 rounded-full transition-colors duration-200"
          title="Toggle prompt suggestions"
          onclick="togglePromptsContainer()"
          data-llama="app/views/shared/_chat.html.erb">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5 text-gray-600"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9.663 17h4.673M12 3v1m6.364 1.636l-.707.707M21 12h-1M4 12H3m3.343-5.657l-.707-.707m2.828 9.9a5 5 0 117.072 0l-.548.547A3.374 3.374 0 0014 18.469V19a2 2 0 11-4 0v-.531c0-.895-.356-1.754-.988-2.386l-.548-.547z"
            />
          </svg>
        </button>        
        <div
          id="selectedElementContainer"
          class="flex-grow rounded-md mx-2 p-2 flex items-center justify-center hidden relative"
          style="max-width: 500px; max-height: 180px"
          llama-tag="app/views/shared/_chat.html.erb"
          data-llama="app/views/shared/_chat.html.erb"
        >
          <button
            id="closeSelectedElement"
            class="absolute top-0 left-0 text-red-500 hover:text-red-700 focus:outline-none z-10 p-1"
            data-llama="app/views/shared/_chat.html.erb"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              data-llama="app/views/shared/_chat.html.erb"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M6 18L18 6M6 6l12 12"
                data-llama="app/views/shared/_chat.html.erb"
              />
            </svg>
          </button>
          <div
            id="selectedElementContent"
            class="text-sm overflow-auto w-full h-full"
            style="max-width: 500px; max-height: 180px"
            data-llama="app/views/shared/_chat.html.erb"
          ></div>
        </div>
      </div>

      <!-- New div for code snippets -->
      <div id="codeSnippetsContainer" class="hidden p-2 md:p-4 border-t border-gray-300 bg-gray-50 max-h-60 overflow-y-auto">
          <h3 class="font-semibold text-lg mb-2">Code Snippets</h3>
          <% if current_user&.organization&.snippets&.any? %>
              <ul class="space-y-2"> 
                  <% current_user.organization.snippets.each do |snippet| %>
                      <li class="bg-white p-2 rounded shadow">
                          <h4 class="font-medium"><%= snippet.name %></h4>
                          <button class="mt-1 text-sm text-blue-500 hover:text-blue-700" onclick="copyToClipboard('<%= j snippet.get_snippet_component %>')" data-content="<%= j snippet.content %>">Copy</button>
                          
                          <button class="mt-1 text-sm text-blue-500 hover:text-blue-700" onclick="toggleSnippetContent('<%= snippet.id %>')">View</button>
                          
                          <span class="text-sm bg-gray-100 p-2 mt-1 rounded hidden" id="snippet-content-<%= snippet.id %>"><%= raw snippet.content %></span>
                          <pre class="text-sm bg-gray-100 p-2 mt-1 rounded"><code><%= snippet.get_snippet_component %></code></pre>
                      </li>
                  <% end %>
              </ul>
              
              <!-- TODO: Move JavaScript to separate file -->
              <script>
              function copyToClipboard(text) {
                navigator.clipboard.writeText(text).then(function() {
                  console.log('Copying to clipboard was successful!');
                }, function(err) {
                  console.error('Could not copy text: ', err);
                });
              }

              function toggleSnippetContent(snippetId) {
                  var contentId = 'snippet-content-' + snippetId;
                  var content = document.getElementById(contentId);
                  var button = content.previousElementSibling;
                  
                  if (content.classList.contains('hidden')) {
                      content.classList.remove('hidden');
                      button.textContent = 'Hide';
                  } else {
                      content.classList.add('hidden');
                      button.textContent = 'View';
                  }
              }
              </script>
          <% else %>
              <p class="text-gray-600">No code snippets available.</p>
          <% end %>
      </div>

      <div
        class="p-2 md:p-4 border-t border-gray-300 flex flex-col"
        data-llama="app/views/shared/_chat.html.erb"
      >
        <textarea
          id="userInput"
          placeholder="Type your message..."
          class="flex-grow mb-2 p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent resize-vertical text-black text-sm md:text-base"
          rows="2 md:rows-3"
          data-llama="app/views/shared/_chat.html.erb"
        ></textarea>
        <div class="flex items-center justify-end">
          <div id="loadingIndicator" class="hidden mr-2 is-loading">
            <div class="grid grid-cols-[40px_auto] gap-4 items-center w-full">
              <div class="grid min-h-[20px] w-full place-items-center overflow-hidden rounded-lg p-6">
                <svg class="text-gray-300 animate-spin" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg" width="24" height="24">
                  <path d="M32 3C35.8083 3 39.5794 3.75011 43.0978 5.20749C46.6163 6.66488 49.8132 8.80101 52.5061 11.4939C55.199 14.1868 57.3351 17.3837 58.7925 20.9022C60.2499 24.4206 61 28.1917 61 32C61 35.8083 60.2499 39.5794 58.7925 43.0978C57.3351 46.6163 55.199 49.8132 52.5061 52.5061C49.8132 55.199 46.6163 57.3351 43.0978 58.7925C39.5794 60.2499 35.8083 61 32 61C28.1917 61 24.4206 60.2499 20.9022 58.7925C17.3837 57.3351 14.1868 55.199 11.4939 52.5061C8.801 49.8132 6.66487 46.6163 5.20749 43.0978C3.7501 39.5794 3 35.8083 3 32C3 28.1917 3.75011 24.4206 5.2075 20.9022C6.66489 17.3837 8.80101 14.1868 11.4939 11.4939C14.1868 8.80099 17.3838 6.66487 20.9022 5.20749C24.4206 3.7501 28.1917 3 32 3L32 3Z" stroke="currentColor" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M32 3C36.5778 3 41.0906 4.08374 45.1692 6.16256C49.2477 8.24138 52.7762 11.2562 55.466 14.9605C58.1558 18.6647 59.9304 22.9531 60.6448 27.4748C61.3591 31.9965 60.9928 36.6232 59.5759 40.9762" stroke="currentColor" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" class="text-gray-900">
                  </path>
                </svg>
              </div>
              <span class="thinking-pulse">Thinking... (this may take a while)</span>
            </div>
          </div>
          <button
            id="sendButton"
            class="bg-blue-500 text-white px-3 py-1 md:px-4 md:py-2 rounded-lg hover:bg-blue-600 transition-colors duration-200 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:ring-opacity-50 text-sm md:text-base"
            data-llama="app/views/shared/_chat.html.erb"
          >
            Send
          </button>
        </div>
        <!--TODO: add animation when user presses send while it's waiting for a response. -->
        <!--<dotlottie-player src="https://lottie.host/9f9cd2dd-4a84-4fa0-904a-4f7d72cae241/XM6ZklRzAZ.json" background="transparent" speed="1" style="width: 50px;" loop autoplay></dotlottie-player>-->
      </div>
    </div>
  <!-- Resizers -->
  <div class="resizer top-left w-2 h-2 -top-1 -left-1 cursor-nwse-resize absolute z-10"></div>
  <div class="resizer top-right w-2 h-2 -top-1 -right-1 cursor-nesw-resize absolute z-10"></div>
  <div class="resizer bottom-left w-2 h-2 -bottom-1 -left-1 cursor-nesw-resize absolute z-10"></div>
  <div class="resizer bottom-right w-2 h-2 -bottom-1 -right-1 cursor-nwse-resize absolute z-10"></div>
  <div class="resizer top h-1 w-full -top-1 left-0 cursor-ns-resize absolute z-10"></div>
  <div class="resizer bottom h-1 w-full -bottom-1 left-0 cursor-ns-resize absolute z-10"></div>
  <div class="resizer left w-1 h-full top-0 -left-1 cursor-ew-resize absolute z-10"></div>
  <div class="resizer right w-1 h-full top-0 -right-1 cursor-ew-resize absolute z-10"></div>
  </div>

</div>
<%= render partial: 'shared/llama_bot/css' %> 
<%= render partial: 'shared/llama_bot/history_modal' %> 
<%= render partial: 'shared/llama_bot/side_panel' %>
<%= render partial: 'shared/llama_bot/chat_javascript' %> 
<% if current_user.present? && controller_name == 'pages' && action_name == 'show' %> 
  <%= render partial: 'shared/llama_bot/chat_contenteditable_javascript' %> 
  <%= render partial: 'shared/llama_bot/toolbar' %> 
  <%= render partial: 'shared/llama_bot/context_menu' %> 
<% end %>