<div id="<%= dom_id organization % data-llama="app/views/organizations/_organization.html.erb">">
  <p class="my-5" data-llama="app/views/organizations/_organization.html.erb">
    <strong class="block font-medium mb-1" data-llama="app/views/organizations/_organization.html.erb">Name:</strong>
    <%= organization.name %>
  </p>

  <p class="my-5" data-llama="app/views/organizations/_organization.html.erb">
    <strong class="block font-medium mb-1" data-llama="app/views/organizations/_organization.html.erb">City:</strong>
    <%= organization.city %>
  </p>

  <p class="my-5" data-llama="app/views/organizations/_organization.html.erb">
    <strong class="block font-medium mb-1" data-llama="app/views/organizations/_organization.html.erb">Phone:</strong>
    <%= organization.phone %>
  </p>

  <p class="my-5" data-llama="app/views/organizations/_organization.html.erb">
    <strong class="block font-medium mb-1" data-llama="app/views/organizations/_organization.html.erb">Notes:</strong>
    <%= organization.notes %>
  </p>

  <p class="my-5" data-llama="app/views/organizations/_organization.html.erb">
    <strong class="block font-medium mb-1" data-llama="app/views/organizations/_organization.html.erb">State:</strong>
    <%= organization.state %>
  </p>

  <p class="my-5" data-llama="app/views/organizations/_organization.html.erb">
    <strong class="block font-medium mb-1" data-llama="app/views/organizations/_organization.html.erb">Street address:</strong>
    <%= organization.street_address %>
  </p>

  <p class="my-5" data-llama="app/views/organizations/_organization.html.erb">
    <strong class="block font-medium mb-1" data-llama="app/views/organizations/_organization.html.erb">Zip code:</strong>
    <%= organization.zip_code %>
  </p>

  <p class="my-5" data-llama="app/views/organizations/_organization.html.erb">
    <strong class="block font-medium mb-1" data-llama="app/views/organizations/_organization.html.erb">Email:</strong>
    <%= organization.email %>
  </p>

</div>
