<div id="<%= dom_id chat_conversation %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= chat_conversation.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= chat_conversation.user_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Site:</strong>
    <%= chat_conversation.site_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Uuid:</strong>
    <%= chat_conversation.uuid %>
  </p>

</div>
